type gpioService, domain;
type gpioService_exec, exec_type, file_type, vendor_file_type;
type gpioService_api, service_manager_type;


allow gpioService gpioService_api:service_manager add;
allow gpioService servicemanager:binder { call transfer };
allow init gpioService_exec:file { getattr open read execute map };

init_daemon_domain(gpioService);
