type observerService, domain;
type observerService_exec, exec_type, file_type, vendor_file_type;
type observerService_api, service_manager_type;


allow observerService observerService_api:service_manager add;
allow observerService servicemanager:binder { call transfer };
allow init observerService_exec:file { getattr open read execute map };

init_daemon_domain(observerService);
