type observer_service, domain;
type observer_service_exec, exec_type, file_type, vendor_file_type;
type observer_service_api, service_manager_type;


allow observer_service observer_service_api:service_manager add;
allow observer_service servicemanager:binder { call transfer };
allow init observer_service_exec:file { getattr open read execute map };

init_daemon_domain(observer_service);
