service net_static_ip /system/bin/net_static_ip.sh
    class main
    user root
    group root
    oneshot
    seclabel u:r:init:s0

on property:sys.boot_completed=1
    exec_start /system/bin/log -t net-init "Waiting for eth0..."
    wait /sys/class/net/eth0
    exec_start /system/bin/ip link set dev eth0 up
    exec_start /system/bin/ip addr flush dev eth0
    exec_start /system/bin/ip addr add 192.168.1.4/24 dev eth0
    exec_start /system/bin/ip route add 224.224.224.245 dev eth0

    setprop static_ip.done 1
